.technologies-skills{
    margin-top: 6rem;
    text-align: center;
}
.img-skills{
    width: 60px;
    margin: 2rem;
}
.git-icon{
    background-color: white;
    border-radius: 50rem;
}
.span-skills{
    font-size: 2rem;
    color: #01c38d;
}
.h3-skills{
    font-size: 2rem;
}